{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center ">
    <div class="w-full max-w-lg bg-white rounded-3xl shadow-2xl p-5">

        <!-- Heading -->
        <div class="text-center mb-8">

            <h1 class="text-4xl font-bold text-gray-800">
                Create Account
            </h1>

            <p class="text-gray-500 mt-2">
                Register to continue
            </p>

        </div>

        <form
            method="POST"
            enctype="multipart/form-data"
            action="{% url 'register-user' %}"
            class="space-y-6"
        >

            {% csrf_token %}

            {% for field in form %}

                <div>

                    <label class="block mb-2 text-sm font-semibold text-gray-700">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.help_text %}
                        <p class="mt-2 text-xs text-gray-500">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {% for error in field.errors %}
                        <p class="mt-2 text-sm text-red-500">
                            {{ error }}
                        </p>
                    {% endfor %}

                </div>

            {% endfor %}

           <button
    type="submit"
    class="w-full bg-blue-600 hover:bg-blue-700 active:scale-95 transition-all duration-200 text-white font-semibold py-3 rounded-xl shadow-lg"
>
    Create Account
</button>

        </form>

        <div class="mt-8 text-center text-gray-600">

            Already have an account?

            <a
                href="{% url 'login-user' %}"
                class="text-blue-600 font-semibold hover:underline"
            >
                Login
            </a>

        </div>

    </div>

</div>

{% endblock %}