{% extends 'base.html' %} 
{% load humanize %}

{% block title %}Chat with {{ friend.username }}{% endblock %} 

{% block content %}
<div class="h-full flex flex-col bg-white">
  <!-- Header -->
  <div class="sticky top-0 z-20 h-20 bg-white border-b flex items-center px-4">
    <a
      href="{% url 'home' %}"
      class="size-8 flex items-center justify-center rounded-full hover:bg-neutral-100"
    >
      <i class="fa-solid fa-chevron-left text-black"></i>
    </a>

    <div class="flex items-center gap-3 ml-4">
      <img
        src="{{ friend.avatar.url }}"
        class="w-12 h-12 rounded-full object-cover"
        alt="{{ friend.username }}"
      />
      <span class="text-lg font-medium">{{ friend.username }}</span>
    </div>

    <div class="flex flex-row ml-auto gap-4 text-gray-600">
      <button type="button"><i class="fa-solid fa-phone"></i></button>
      <button type="button"><i class="fa-solid fa-video"></i></button>
    </div>
  </div>

  <!-- Chat Messages -->
  <main
    class="flex-1 overflow-y-auto px-4 py-4 left-0 [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]"
  >
    <div class="flex flex-col justify-end min-h-full space-y-3">
      {% for message in messages %} 
        {% if message.sender == request.user %}
          
          <!-- Outgoing Message (Sender) -->
          <div class="chat chat-end flex flex-col items-end">
  
            <div class="chat-header text-xs text-gray-400 mb-1">
              {{ message.sender }} 
              <time class="text-xs opacity-50">{{ message.created_at|naturaltime }}</time>
            </div>

          
            {% if message.image %}
              <div class="mb-1">
                <img 
                  src="{{ message.image.url }}" 
                  class="w-30 h-40 max-w-full  rounded-2xl shadow-sm" 
                  alt="{{ message.image.name }}" 
                />
              </div>
            {% endif %}

          
            {% if message.text %}
              <div class="chat-bubble bg-blue-600 text-white">
                <p>{{ message.text }}</p>
              </div>
            {% endif %}
          </div>

        {% else %}

          <!-- Incoming Message -->
          <div class="chat chat-start flex flex-col items-start">
            
            <div class="chat-header text-xs text-gray-400 mb-1">
              {{ message.sender }} 
              <time class="text-xs opacity-50">{{ message.created_at|naturaltime }}</time>
            </div>

            
            {% if message.image %}
              <div class="mb-1">
                <img 
                  src="{{ message.image.url }}" 
                  class="w-33 h-40 max-w-full object-cover rounded-2xl shadow-sm" 
                  alt="Uploaded photo" 
                />
              </div>
            {% endif %}

            
            {% if message.text %}
              <div class="chat-bubble bg-gray-200 text-black">
                <p>{{ message.text }}</p>
              </div>
            {% endif %}
          </div>

        {% endif %} 
      {% endfor %}
    </div>
  </main>


  <form 
    action="{% url 'send-message' friend.id %}"
    method="POST"
    enctype="multipart/form-data"
    class="sticky bottom-0 bg-white border-t border-gray-200 px-3 py-2 flex flex-col gap-2"
  >
    {% csrf_token %}
    
   
    <div id="preview-container" class="hidden relative w-16 h-16 border rounded-lg overflow-hidden group">
      <img id="preview" alt="Preview" class="w-full h-full object-cover" />
      <button 
        id="removeImage"
        type="button" 
        class="absolute top-1 right-1 bg-black/60 text-white text-xs w-5 h-5 rounded-full flex items-center justify-center hover:bg-black"
      >
        ✕
      </button>
    </div>

    <div class="flex items-center gap-2">
      <button id="file-btn" type="button" class="text-2xl text-gray-600 hover:text-blue-500 transition-colors">
        <i class="fa-solid fa-camera"></i>
      </button>

      <input id="snap-file" type="file" name="image" accept="image/*" class="hidden" />

      <input
        type="text"
        name="message"
        placeholder="Chat"
        class="flex-1 h-9 bg-gray-100 rounded-full px-4 outline-none text-sm focus:ring-1 focus:ring-blue-400"
      />

      <button type="submit" class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center hover:bg-blue-600">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
  </form>
</div>


{% endblock %}