{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="relative w-[390px] h-[700px] bg-white rounded-3xl border ">

        
        <div class="absolute bottom-0 left-0 w-full border-t bg-white py-2">
            <div class="flex justify-around">

                <button class="flex flex-col items-center p-2 rounded-xl hover:bg-gray-200 transition">
                    <i class="fa-solid fa-location-dot text-xl"></i>
                    <span class="text-xs mt-1">Map</span>
                </button>

               <a href="{% url 'chat' %}"
   class="flex flex-col items-center p-2 rounded-xl hover:bg-gray-200 transition">
    <i class="fa-regular fa-message text-xl"></i>
    <span class="text-xs mt-1">Chat</span>
</a>

                <button class="flex flex-col items-center p-2 rounded-xl hover:bg-gray-200 transition">
                    <i class="fa-solid fa-camera text-xl"></i>
                    <span class="text-xs mt-1">Camera</span>
                </button>

                <button class="flex flex-col items-center p-2 rounded-xl hover:bg-gray-200 transition">
                    <i class="fa-regular fa-user text-xl"></i>
                    <span class="text-xs mt-1">Stories</span>
                </button>

            </div>
        </div>

    </div>
</div>

{% endblock %}